* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff19ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --background-color:#11071f;
  --default-font: 'Poppins', sans-serif;
}

body {
  margin: 60px auto;
  font-family: var(--default-font);
}
.hero{
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  margin: 0;
  color: var(--secondary-color);
  font-family: var(--default-font);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  padding-top: 50px;
}

h3 {
  font-size: 14px;
  opacity: 0.7;
}

p {
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: var(--default-font);
}
.desc{
  text-align: center;
}
.nav-link{
  font-family: var(--default-font);
}

.navigation-links {
  display: flex;
  margin-top: 60px;
}

.navigation-links a {
  margin-right: 20px;
  border-radius: 4px;
  padding: 15px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--default-font);
  
}

.navigation-links .contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-family: var(--default-font);
  color: var(--secondary-color);
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.contact-link:hover, .homepage-link:hover{
  color: white;
  opacity: 70%;
}
.about-link:hover {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  opacity: 70%;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--default-font);
}
.primary-link:hover{
  color: white;
  opacity: 70%;
}
.navbar-nav{
  margin-left: 40rem;
}
.home-content p{
  padding: 0;
}
.home-content h1{
  width: 825px;
}
.home-content a{
 text-decoration: none;
 color: var(--primary-color);
}

.work-link{
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
 
}
.link-work{
  margin: 80px 0 0 300px;
}
.work-link:hover{
  color: var(--primary-color);
}
.work-content{
  padding-left: 20px;
}
.work-content h2{
  padding-left: 20px;
}

.email{
  margin-top: 61px;
  color: var(--primary-color);
}
.social{
  text-align: center;
cursor: pointer;
}
.contact-box{
  background-color: var(--primary-color);
  padding: 30px 119px;
  border-radius: 10px;
  color: var(--secondary-color);
}

.contact-box h4{
  font-size: 48px;
  margin: 0;
  font-family: var(--default-font);
}
.contact-box p{
  margin: 0;
  color: var(--secondary-color);
  padding: 0 ;
}
.footer-link{
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 15px 25px;
  color: var(--primary-color);
  text-decoration: none;
  font-family: var(--default-font);
}
.footer-link:hover{
  color: var(--primary-color);
}
footer p{
  text-align: center;
}
.email-footer{
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  padding-bottom: 40px;
}
.email-footer:hover{
  color: var(--primary-color);
}
.social a{
  font-size: 30px;
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
.github-link{
  text-decoration: none;
}


@media (max-width:576px){
  h1{
    font-size: 48px;
    padding-top: 5px;
  }
  h3{
    font-size: 14px;
  }
  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
  }
  .container{
    margin-bottom: 50px;
  }
  .navbar-nav{
    margin-left: 1rem;
  }

  footer{
    margin-top: 50px;
  }
  .home-content{
    text-align: center;
  }
  .home-content h1{
    width:500px;
  }
  .home-content h2{
    padding-top: 10px;
  }
  .navigation-links{
    display: block;
    margin: 60px auto;
  }
  .contact-box{
    padding: 30px;
  }
  .contact-box h4{
    font-size: 28px;
  }

}